body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.background {
    background-size: cover;  
    background-position: center; 
    height: 100vh; 
    color: white; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
}
body {
    background: radial-gradient(circle, #ff66b2, #ff99cc, #ffb3d9);
    font-family: Georgia,sans-serif;
    background-color: #FFC0CB;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    text-align: center;
    background-color: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: #ee3db6;
    color: white;
}

button:hover {
    background-color: #ea1f66;
}

#pickup-line {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 20px;
    font-size: 25px;
    color: #eb0580;
}